/* Color */
:root {
  --PrimaryColor: hsl(168, 76%, 27%);
  --HoverColor: hsl(168, 45%, 49%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 20%);
  --textColor: hsl(240, 1%, 48%);
  --greyBackground: hsl(0, 0%, 96%);
  --geryText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.navbar__section .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}
.navbar__section .header .logoDiv .logo {
  color: var(--whiteColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.navbar__section .header .logoDiv .logo .icon {
  color: var(--PrimaryColor);
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .navbar__section .header .navBar {
    background: var(--greyBackground);
    position: absolute;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .navbar__section .header .navBar .nav__lists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .navbar__section .header .navBar .nav__lists .navItem {
    padding: 1rem 0;
  }
  .navbar__section .header .navBar .nav__lists .navItem .nav__links {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navbar__section .header .navBar .nav__lists .navItem .nav__links:hover {
    color: var(--PrimaryColor);
  }
  .navbar__section .header .navBar .nav__lists .header__btns {
    flex-direction: column;
  }
  .navbar__section .header .navBar .nav__lists .header__btns .btn {
    margin-top: 1rem;
  }
  .navbar__section .header .navBar .nav__lists .header__btns .btn a {
    font-weight: 600;
  }
  .navbar__section .header .navBar .nav__lists .header__btns .btn a:hover {
    color: var(--whiteColor);
  }
  .navbar__section .header .navBar .nav__lists .header__btns .login__btn {
    background: none;
    border: 1px solid var(--PrimaryColor);
  }
  .navbar__section .header .navBar .nav__lists .header__btns .login__btn a {
    color: var(--PrimaryColor);
  }
  .navbar__section .header .navBar .nav__lists .header__btns .login__btn:hover {
    background: var(--HoverColor);
  }
  .navbar__section .header .navBar .nav__lists .header__btns .login__btn:hover a {
    color: var(--whiteColor);
  }
  .navbar__section .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navbar__section .header .navBar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navbar__section .header .activeNavbar {
    left: 0;
  }
}
.navbar__section .header .menuNavbar .icon {
  font-size: 25px;
  color: var(--whiteColor);
}
.navbar__section .header .menuNavbar .icon:hover {
  color: var(--PrimaryColor);
}

@media screen and (min-width: 769px) {
  .navbar__section .menuNavbar, .navbar__section .closeNavbar {
    display: none;
  }
  .navbar__section .header {
    padding: 1.5rem 2rem;
  }
  .navbar__section .header .navBar .nav__lists {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__section .header .navBar .nav__lists .navItem .nav__links {
    color: var(--whiteColor);
    padding: 0 0.45rem;
  }
}/*# sourceMappingURL=navbar.css.map */